<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
    <title>慧眼-布匹表面瑕疵识别系统</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/static/css/templatemo_main.css">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-reset.css" rel="stylesheet">

    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta name="HandheldFriendly" content="true">
    <meta name="msapplication-tap-highlight" content="no">

    <link rel="stylesheet" type="text/css" href="/static/css/main5.css"/>

    <script src="/static/js/jquery.min5.js"></script>
    <script src="/static/js/m.js"></script>
    <style>
        .inner {
            width: 100%;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }

        .problem {
            width: 100%;
        }

    </style>


</head>
<body class="has-js">
<section id="container" class="">
    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="展开菜单" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <!--logo start-->
        <a href="#" class="logo"><span><b>慧眼</b></span></a>
        <!--logo end-->

        <div class="nav notify-row" id="top_menu">

        </div>
        <div class="top-nav ">
            <!--search & user info start-->
            <ul class="nav pull-right top-menu">
                <li>
                    <!-- <input type="text" class="form-control search" placeholder="Search"> -->
                </li>
                <!-- user login dropdown start-->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">

                        <img class="headerImage" style="height:30px;width:30px;" src="/static/imgs/hh.png" alt="">


                        <span class="username">FTD</span>
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu extended logout">
                        <div class="log-arrow-up"></div>
                        <li><a href=""><i class=" icon-envelope"></i>账号</a></li>
                        <li><a href=""><i class="icon-key"></i> 密码</a></li>
                        <li style="display:none"><a href=""><i class="icon-user"></i> 头像</a></li>
                        <li><a href=""><i class="icon-signout"></i> 退出</a></li>
                    </ul>
                </li>
                <!-- user login dropdown end -->
            </ul>
            <!--search & user info end-->
        </div>

    </header>


    <aside>
        <div id="sidebar" class="nav-collapse">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu ">
                <li class="sub-menu active">
                    <a class="active" href="index.html">
                        <i class="icon-laptop"></i>
                        <span>首&nbsp;&nbsp;&nbsp;&nbsp;页</span>
                    </a>
                </li>
                <li class="sub-menu ">
                    <a href="shibie.html" class="">
                        <i class="fa fa-user"></i>
                        <span>布匹瑕疵识别</span>
                        <!--<span class="arrow"></span>-->
                    </a>
                    <!--<ul class="sub">-->

                    <!--<li ><a class="" href="today.html">今日会议</a></li>-->

                    <!--</ul>-->
                </li>
                <li class="sub-menu ">
                    <a href="label.html" class="">
                        <i class="fa fa-bank"></i>
                        <span>在线布匹标记</span>
                    </a>
                </li>
                <li class="sub-menu ">
                    <a href="bigdata.html" class="">
                        <i class="fa fa-bank"></i>
                        <span>大数据分析</span>
                    </a>
                </li>
                <li class="sub-menu ">
                    <a href="causes.html" class="">
                        <i class="fa fa-desktop"></i>
                        <span>成因追踪</span>
                    </a>
                </li>

                <li class="sub-menu ">
                    <a href="information.html" class="">
                        <i class="fa fa-user"></i>
                        <span>个人资料</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:" data-toggle="modal" data-target="#confirmModal">
                        <i class="fa fa-sign-out"></i><span>退出系统</span></a>
                </li>
            </ul>
        </div>
    </aside>


    <!--<div class="inner">-->

        <!--<div class="problem">-->



            <!--<div class="col-md-4">-->
                <!--<h2><font style="font-family:开题" color="red">选择一张待识别图片</font></h2>-->
                <!--<ul class="fh5co-check">-->
                    <!--<font color="black"><input type="file" id="file" name="file"/></font>-->
                    <!--<div id="result"></div>-->
                <!--</ul>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->


    <section id="main-content" >
        <section class="wrapper">

            <div class="template-page-wrapper">

                <div class="templatemo-content-wrapper">

                    <div id="iframe-wrap">
                        <iframe id="iframe" src="new5.html" frameborder="0"  width="100%" height="1200px"></iframe>
                    </div>

                    <!-- 退出弹窗-->
                    <div class="modal fade" id="confirmModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                         aria-hidden="true" >
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"><span
                                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                    <h4 class="modal-title" id="myModalLabe2">你确认退出吗？</h4>
                                </div>
                                <div class="modal-footer">
                                    <a href="login.html" class="btn btn-primary">是</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <!--state overview end-->


            </div>
        </section>
        <footer class="templatemo-footer">
            <!--<div class="templatemo-copyright">-->
                <!--<p>2018-2019智能会议室管理系统</p>-->
            <!--</div>-->
        </footer>
    </section>















    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span
                            aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">你确认退出吗？</h4>
                </div>
                <div class="modal-footer">
                    <a href="login.html" class="btn btn-primary">是</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">否</button>
                </div>
            </div>
        </div>
    </div>


</section>




<!--</section>-->

<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/Chart.min.js"></script>
<script src="/static/js/templatemo_script.js"></script>
<script type="text/javascript">
    $(function () {
        $(".btnDetail").click(function () {
            $.jq_Panel({
                title: "会议室详情",
                url: "MeetingDetail.html",
                iframeWidth: 800,
                iframeHeight: 600,
            });
        });
    });


    // Line chart
    var randomScalingFactor = function () {
        return Math.round(Math.random() * 100)
    };
    var lineChartData = {
        labels: ["January", "February", "March", "April", "May", "June", "July"],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.2)",
                strokeColor: "rgba(220,220,220,1)",
                pointColor: "rgba(220,220,220,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(220,220,220,1)",
                data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
            },
            {
                label: "My Second dataset",
                fillColor: "rgba(151,187,205,0.2)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(151,187,205,1)",
                data: [randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor(), randomScalingFactor()]
            }
        ]

    }

    window.onload = function () {
        var ctx_line = document.getElementById("templatemo-line-chart").getContext("2d");
        window.myLine = new Chart(ctx_line).Line(lineChartData, {
            responsive: true
        });
    };

    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
    });

    $('#loading-example-btn').click(function () {
        var btn = $(this);
        btn.button('loading');
        // $.ajax(...).always(function () {
        //   btn.button('reset');
        // });
    });
</script>
<script>

    var imgNum = 0;
    $(".upload_img_wrap .upload_img").bind("click", function (ev) {
        //console.log(ev.currentTarget.dataset.id)
        var index = ev.currentTarget.dataset.id;
        var that = this;
        if (index == 1) {
            $("#file1").click();
            $("#file1").unbind().change(function (e) {
                var index = e.currentTarget.dataset.id;
                if ($('#file').val() == '') {
                    return false;
                }
                $(that).hide();
                var filePath = $(this).val();
                changeImg(e, filePath, index);

                imgNum++;
                if (imgNum < 3) {
                    $(".upload_img").eq(1).show();
                }
                $(".upload_img_length").html(imgNum);
            })
        } else if (index == 2) {
            $("#file2").click();
            $("#file2").unbind().change(function (e) {
                var index = e.currentTarget.dataset.id;
                if ($('#file').val() == '') {
                    return false;
                }
                $(that).hide();
                var filePath = $(this).val();
                changeImg(e, filePath, index);

                imgNum++;
                if (imgNum < 3) {
                    $(".upload_img").eq(2).show();
                }
                $(".upload_img_length").html(imgNum);
            })
        } else if (index == 3) {
            $("#file3").click();
            $("#file3").unbind().change(function (e) {
                var index = e.currentTarget.dataset.id;
                if ($('#file').val() == '') {
                    return false;
                }
                var filePath = $(this).val();
                changeImg(e, filePath, index);
                $(that).hide();
                imgNum++;
                $(".upload_img_length").html(imgNum);
            })
        }
    })

    function changeImg(e, filePath, index) {
        fileFormat = filePath.substring(filePath.lastIndexOf(".")).toLowerCase();
        //检查后缀名
        if (!fileFormat.match(/.png|.jpg|.jpeg/)) {
            showError('文件格式必须为：png/jpg/jpeg');
            return;
        }
        //获取并记录图片的base64编码
        var reader = new FileReader();
        reader.readAsDataURL(e.target.files[0]);
        reader.onloadend = function () {
            // 图片的 base64 格式, 可以直接当成 img 的 src 属性值
            var dataURL = reader.result;
            // console.log(dataURL)
            // 显示图片
            $("#imgBox").html($("#imgBox").html() + '<div class="imgContainer" style="display:none" data-index=' + index + '></a> <img   src=' + dataURL + ' onclick="imgDisplay(this)"><img onclick="removeImg(this,' + index + ')"  class="imgDelete" src="images/del_img.png" /></div>');
        };

    }

    function removeImg(obj, index) {
        for (var i = 0; i < $(".imgContainer").length; i++) {
            if ($(".imgContainer").eq(i).attr("data-index") == index) {
                $(".imgContainer").eq(i).remove();
            }
        }
        for (var i = 0; i < $(".upload_img").length; i++) {
            $(".upload_img").eq(i).hide();
            if ($(".upload_img").eq(i).attr("data-id") == index) {
                console.log($(".upload_img").eq(i).attr("data-id"))
                $(".upload_img").eq(i).show();
            }
        }
        imgNum--;
        $(".upload_img_length").html(imgNum);
    }


    function imgDisplay(obj) {
        var src = $(obj).attr("src");
        var imgHtml = '<div style="width: 100%;height: 100vh;overflow: auto;background: rgba(0,0,0,0.5);text-align: center;position: fixed;top: 0;left: 0;z-index: 1000;display: flex;justify-content: center;    align-items: center;"><img src=' + src + ' style="margin-top: 100px;width: 96%;margin-bottom: 100px;"/><p style="font-size: 50px;position: fixed;top: 30px;right: 30px;color: white;cursor: pointer;" onclick="closePicture(this)">×</p></div>'
        $('body').append(imgHtml);
    }

    function closePicture(obj) {
        $(obj).parent("div").remove();
    }
</script>

<!--common script for all pages-->
<script src="/static/js/new/common-scripts.js"></script>
<script type="text/javascript" src="myplugs/js/plugs.js"></script>
<script src="/static/js/material-components-web.min.js"></script>
<script src="/static/js/jquery.min1.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="/static/js/Chart.min1.js"></script>
<script src="/static/js/progressbar.min.js"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="/static/js/misc.js"></script>
<script src="/static/js/material.js"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="/static/js/dashboard.js"></script>
<script src="/static/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/static/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/static/js/jquery.waypoints.min.js"></script>
<!-- Stellar -->
<script src="/static/js/jquery.stellar.min.js"></script>
<!-- MAIN JS -->
<script src="/static/js/main.js"></script>


</section>
</body>
</html>